<!-- Modal Nova Ordem -->
<div class="modal modal-xl" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Cadastro - Ordem de Serviço</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="background-color: #C9D7D0;">
                <div class="">
                    <div class="row">
                        <div class="col-lg-6 containerMeio "
                            style="text-align:center; border-radius: 10px; width: 50%;">
                            <form>
                                <div class="row mt3">
                                    <div class="col-lg-3 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Nº Ordem</label>
                                        <input type="text" placeholder="" class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-9 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Funcionário</label>
                                        <input type="text" placeholder="Nome do Funcionário..."
                                            class="form-control inputCinza" id="">
                                    </div>
                                </div>
                                <div class="row mt3">
                                    <div class="col-lg-8 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Nome do Cliente</label>
                                        <input type="text" placeholder="Nome do Cliente..."
                                            class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Telefone</label>
                                        <input type="text" placeholder="Ex: 45999236754" class="form-control inputCinza"
                                            id="">
                                    </div>
                                </div>
                                <div class="row mt3">
                                    <div class="col-lg-8 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Forma de Pagamento</label>
                                        <select class="form-control inputCinza" id="">
                                            <option value="dinheiro">Dinheiro</option>
                                            <option value="credito">Cartão Crédito</option>
                                            <option value="debito">Cartão Débito</option>
                                            <option value="pix">PIX</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt3">
                                    <div class="form-switch col-lg-3">
                                        <label class="textoPadrao row justify-content-start" for="flEntrega">Entrega?</label>
                                        <input class="form-check-input" type="checkbox" id="flEntrega" name="flEntrega" [(ngModel)]="flEntrega">
                                    </div>
                                    <div class="col-lg-9 form-group" *ngIf="flEntrega">
                                        <label class="textoPadrao row justify-content-start" style="margin-left: 6px;">Endereço</label>
                                        <input type="text" placeholder="Rua, Nº, Bairro, Cidade" class="form-control inputCinza" id="">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 containerMeio2">
                            <form>
                                <div class="row mt3">
                                    <div class="col-lg-8 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Produto</label>
                                        <input [(ngModel)]="ordemServicoItem.nmProduto" name="nmProduto" type="text" placeholder="Nome do Produto..."
                                            class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Valor Unid.</label>
                                        <input [(ngModel)]="ordemServicoItem.vlUnitario" name="vlUnitario" type="text" placeholder="R$ 0,00" class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-1 d-flex align-items-end justify-content-end ms-auto text-end">
                                        <button (click)="addItem()" role="button" class="btn gradiente popover-test" title="Popover title"
                                            data-bs-content="Popover body content is set in this attribute.">+</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive d-flex justify-content-center mt3"
                                        style="max-height: 230px; overflow-y: scroll;">
                                        <table class="table">
                                            <tbody>
                                                <tr *ngFor="let item of ordemServico.ordemServicoItens ; index as i ">
                                                    <td class="align-middle text-left">
                                                        {{ item.nmProduto }}
                                                    </td>
                                                    <td class="d-flex justify-content-center">
                                                        <div class="btn-group"
                                                            style="display: inline-block; justify-content: center;">
                                                            <button (click)="changeQuantidade('-', i )" role="button" class="btn inputCinza popover-test"
                                                                title="Popover title"
                                                                data-bs-content="Popover body content is set in this attribute."
                                                                >-</button>
                                                            <span class="badge badge-secondary">
                                                                {{ this.item.nrQuantidade }}
                                                            </span>
                                                            <button (click)="changeQuantidade('+', i)" role="button" class="btn inputCinza popover-test"
                                                                title="Popover title"
                                                                data-bs-content="Popover body content is set in this attribute."
                                                                >+</button>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle text-right">
                                                        R$ {{ item.vlTotal }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" style="background-color: #C9D7D0;">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn gradiente" style="color:white">Salvar</button>
            </div>
        </div>
    </div>
</div>
