<!-- Funcionários - modal -->
<div class="modal modal-xl" id="funcionarioPermissao">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Selecione a permissão abaixo</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="background-color: #C9D7D0;">
                <div class="">
                    <div class="row">
                        <div class="col-lg-6 containerMeio "
                            style="text-align:center; border-radius: 10px; width: 50%;">
                            <form>
                                <div class="row mt3">
                                    <div class="col-lg-10 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Nome do Funcionário</label>
                                        <input name="pnmPessoa"  type="text" placeholder="Somente letras..." class="form-control inputCinza" id="">
                                    </div>
                                </div>
                                <div class="row mt3">
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Permissão</label>
                                        <input name="CPF" type="text" placeholder="Somente números..."
                                            class="form-control inputCinza" id="">
                                    </div>
                                    <div class="modal-footer" style="background-color: #C9D7D0;">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#funcionario" >Cancelar</button>
                                        <button  type="button" class="btn gradiente" data-bs-toggle="modal" data-bs-target="#funcionario" style="color:white">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>