<!-- Anotações - modal -->
<div class="modal modal-xl" id="anotacoes">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Anotações</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="background-color: #C9D7D0;">
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label class="textoPadrao row justify-content-start" style="margin-left: 6px;">Nova
                            anotação</label>
                        <!-- <input type="text" placeholder="Nova anotação..." class="form-control inputCinza" id="" style="height: 10vh;"> -->
                        <textarea [(ngModel)]="anotacao.dsMensagem" placeholder="Digite sua anotação..."
                            class="texto-comeca-no-topo form-control inputCinza"></textarea>
                    </div>
                    <div class="form-switch col-lg-2 mt3" style="margin-left: 1vw; margin-bottom: 2vh;">
                        <style>
                            .form-check-input {}

                            .form-check-input:checked {
                                background: rgb(54, 130, 94);
                                background: linear-gradient(209deg, rgba(54, 130, 94, 1) 0%, rgba(71, 145, 111, 0.705) 29%, rgba(54, 130, 94, 1) 100%);
                            }
                        </style>
                    </div>
                    <div class="modal-footer" style="background-color: #C9D7D0;">
                        <div class="col-lg-12 d-flex">
                            <div class="col-lg-2">
                                <label class="textoPadrao text-left" style="margin-bottom: 5px;">Pesquisar</label>
                                <input name="cliente" type="text" class="form-control inputCinza"
                                    [(ngModel)]="this.filtro.dsMensagem" (ngModelChange)="listarAnotacoes()">
                            </div>
                            <div class="col-lg-9"></div>
                            <div class="col-lg-1">
                                <button (click)="addAnotacao()" type="button" class="btn gradiente" style="color:white">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <table class="table-borderless table-hover ">
                        <thead>
                            <tr style="background-color: #C9D7D0 !important;" class="trCor col-lg-12">
                            </tr>
                        </thead>
                    </table>

                    <div class="table-responsive d-flex justify-content-center mt3"
                        style="max-height: 380px; overflow-y: scroll;">
                        <table class="table table-borderless table-hover ">
                            <tbody>
                                <thead>
                                    <tr style="background-color: #C9D7D0 !important;" class="trCor col-lg-12">
                                        <th class="text-center col-lg-1">
                                            <strong>Suas anotações</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tr *ngFor="let anotacao of anotacoes" class="trCor col-lg-12">
                                    <td class="text-center col-lg-6 colorTd">
                                        {{ anotacao.dsMensagem }}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <p>{{this.nrDeItens}}</p>
                    </div>
                    <div class="modal-footer" style="background-color: #C9D7D0;">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sair</button>
                    </div>
                </div>
                <!-- Contador de página -->
                <nav aria-label="Navegação de página exemplo" *ngIf="anotacoes.length > 0">
                    <ul class="pagination">
                        <li class="page-item">
                            <button class="page-link btn-sm" style="background-color: #a7afab; color: black;"
                                aria-label="Anterior" (click)="paginaAnterior()">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </button>
                        </li>
                        <li class="page-item gradiente" *ngFor="let pagina of paginas"
                            [class.active]="pagina === paginaAtual">
                            <button class="page-link btn-sm" style="background-color: #a7afab; color: black;"
                                (click)="selecionarPagina(pagina)">{{ pagina }}</button>
                        </li>
                        <li class="page-item">
                            <button class="page-link btn-sm" aria-label="Próximo"
                                style="background-color: #a7afab; color: black;" (click)="proximaPagina()">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Próximo</span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>