<!-- Anotações - modal -->
<div class="modal modal-xl" id="anotacoes">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Cadastro - Anotações</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="background-color: #C9D7D0;">
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label class="textoPadrao row justify-content-start" style="margin-left: 6px;">Nova
                            anotação</label>
                        <!-- <input type="text" placeholder="Nova anotação..." class="form-control inputCinza" id="" style="height: 10vh;"> -->
                        <textarea [(ngModel)]="anotacao.dsMensagem" placeholder="Digite sua anotação..."  class="texto-comeca-no-topo form-control inputCinza" ></textarea>
                    </div>
                    <div class="form-switch col-lg-4">
                        <label class="textoPadrao row justify-content-start" for="flEntrega">Concluido?</label>
                        <input  [(ngModel)]="anotacao.flConcluido" class="form-check-input" type="checkbox" id="flConcluido" name="flConcluido" >
                    </div>
                    <div class="form-switch col-lg-4">
                        <label class="textoPadrao row justify-content-start" for="funcionario">Pessoa</label>
                        <select name="situacao" [(ngModel)]="pessoa.id" *ngFor="let pessoa of pessoas" class="form-control inputCinza" id="pessoa">
                            <option value="pessoa"> {{ pessoa.nmPessoa }}</option>
                        </select>
                    </div>
                    <div class="modal-footer" style="background-color: #C9D7D0;">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button (click)="addAnotacao()" type="button" class="btn gradiente" style="color:white">Salvar</button>
                    </div>
                    <hr>
                    <table class="table-borderless table-hover ">
                        <thead>
                            <tr style="background-color: #C9D7D0 !important;" class="trCor col-lg-12">
                            </tr>
                        </thead>
                    </table>
                    <div class="table-responsive d-flex justify-content-center mt3"
                        style="max-height: 380px; overflow-y: scroll;">
                        <table class="table table-borderless table-hover ">
                            <tbody>
                                <tr *ngFor="let anotacao of anotacaos" class="trCor col-lg-12">
                                    <td class="text-center col-lg-6 colorTd">
                                      {{ anotacao.dsMensagem }}
                                    </td>
                                    <td class="text-center tdRadiusRight col-lg-6 colorTd">
                                      <input type="checkbox">
                                    </td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
