<div style="background-color: #C9D7D0; height: 100%; width: 100%; overflow:hidden">
    <app-modal-relatorio></app-modal-relatorio>
    <app-modal-anotacao></app-modal-anotacao>
    <app-modal-meta></app-modal-meta>
    <app-modal-funcionario></app-modal-funcionario>
    <app-modal-nova-ordem></app-modal-nova-ordem>
    <app-modal-ordem-servico></app-modal-ordem-servico>
    <app-modal-relatorio></app-modal-relatorio>

    <div class="col-lg-12 divisaotop">
        <!-- topUsuario -->
        <div class="usuarioImg gradiente"></div>
        <div class="usuarioMensagem">
            <p style="color: rgb(0, 0, 0); font-size: 24px;">Olá, <strong id="nomePessoa"></strong>!</p>
            <p style="color: rgb(48, 47, 47); font-size: 16px;">Floricultura Mundo das Flores</p>
        </div>
        <button class="btn btn-sm btn-warning gradiente"
            style="float: right; margin-top: 23px; margin-right: 302px; color: white; border-color: #914141; background: #914141;"
            (click)="logout()">Logout</button>
    </div>

    <div class="row d-flex justify-content-center" style="width: 66%; margin: auto;">
        <div class="col-lg-3">
            <button type="button" data-bs-toggle="modal" data-bs-target="#myModal"
                class="btn btn-primary nextButton gradiente">
                <p class="textoButton mb0 m-1">Nova Ordem</p>
                <div class="row justify-content-end">
                    <img src="../../../assets/images/icones/novaOrdemImg.png" alt="..."
                        style="height: 62%; width: 41%;">
                </div>
            </button>
        </div>
        <div class="col-lg-3">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalRelatorios"
                class="btn btn-primary nextButton gradiente">
                <p class="textoButton mb0 m-1" style="margin-right: 7vw;">Relatórios</p>
                <div class="row justify-content-end">
                    <img src="../../../assets/images/icones/relatorios.png" alt="..." style="height: 62%; width: 41%;">
                </div>
            </button>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary nextButton gradiente" data-bs-toggle="modal" data-bs-target="#anotacoes">
                <p class="textoButton mb0 m-1" style="margin-right: 7vw;">Anotações</p>
                <div class="row justify-content-end">
                    <img src="../../../assets/images/icones/anotacoesIMG.png" alt="..."
                        style="height: 62%; width: 41%;">
                </div>
            </button>
        </div>
        <div class="col-lg-3">
            <button (click)="listarMetas(); resetItemMeta()" class="btn btn-primary nextButton gradiente"
                data-bs-toggle="modal" data-bs-target="#metas">
                <p class="textoButton mb0 m-1" style="margin-right: 9vw;">Metas</p>
                <div class="row justify-content-end">
                    <img src="../../../assets/images/icones/metasIMG.png" alt="..." style="height: 62%; width: 41%;">
                </div>
            </button>
        </div>
    </div>

    <div class="row d-flex justify-content-center" style="margin-top: 2%; width: 100%">
        <div class="col-lg-4">
            <div class="row gradiente" style="text-align: center; border-radius: 10px; width: 95%;">
                <div class="row justify-content-start">
                    <div class="col-lg-1" style="margin-top: 10px;">
                        <img src="../../../assets/images/icones/hoje.png" alt="...">
                    </div>
                    <div class="col-lg-3 mt3 textoTituloTabela">
                        Ultimas vendas
                    </div>
                    <div class="table-divider col-lg-12"></div>
                </div>
                <div class="table-responsive d-flex justify-content-center mt3"
                    style="max-height: 230px; overflow-y: scroll; width: 40vw;">
                    <table class="table table-borderless table-hover">
                        <tbody>
                            <tr *ngFor="let ordemServico of ordemServicos; index as index" class="col-lg-12">
                                <td class="align-middle text-left tdRadiusLeft tdCor" style="width: 10%;">OS {{
                                    ordemServico.nrOrdem }}</td>
                                <td class="text-right tdCor" style="width: 10%;">{{ ordemServico.vlTotal |
                                    currency:'BRL'}}</td>
                                <td class="align-middle text-left tdRadiusRight tdCor" style="width: 15%;">{{
                                    ordemServico.dtCadastro | date: 'dd/MM/yyyy HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row d-flex justify-content-start" style="margin-top: 5%">
                <button (click)="listarOrdemServico()" type="button" data-bs-toggle="modal"
                    data-bs-target="#ordemServico" class="btn btn-primary nextButton gradiente mr3">
                    <p class="textoButton mb0 m-1">Ordens de Serviço</p>
                    <div class="row justify-content-end">
                        <img src="../../../assets/images/icones/ordensDeServicoIMG.png" alt="..."
                            style="height: 62%; width: 41%;">
                    </div>
                </button>
                <button *ngIf="!verificarUser()" type="button" data-bs-toggle="modal" data-bs-target="#funcionario"
                    class="btn btn-primary nextButton gradiente ml3 mr3">
                    <p class="textoButton mb0 m-1" style="margin-right: 7vw;">Funcionários</p>
                    <div class="row justify-content-end">
                        <img src="../../../assets/images/icones/funcionariosIMG.png" alt="..."
                            style="height: 62%; width: 41%;">
                    </div>
                </button>
            </div>
        </div>
        <div class="col-lg-4 gradiente" style="text-align: center; border-radius: 10px; width: 30%;">
            <div class="row">
                <div class="row">
                    <div class="col-lg-2 mt3">
                        <img src="../../../assets/images/icones/comissao.png" alt="..."
                            style="height: 70%; width: 40%;">
                    </div>
                    <div class="col-lg-2 mt3 textoTituloTabela">
                        <p class="">Comissões</p>
                    </div>
                </div>
                <div class="table-divider col-lg-12"></div>
                <div class="table-responsive d-flex justify-content-center mt3"
                    style="max-height: 380px; overflow-y: scroll; width: 40vw;">
                    <table class="table table-borderless table-hover">
                        <tbody>
                            <tr *ngFor="let comissoes of this.comissoesPorData; index as index" class="col-lg-12">
                                <td class="align-middle text-left tdRadiusLeft tdCor" style="width: 10%;">{{
                                    comissoes.nmMes }}</td>
                                <td class="text-right tdCor" style="width: 10%;">{{ (comissoes.vlTotal * 0.07) |
                                    currency:'BRL'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>