<div *ngIf="this.ordemServico">
    <app-modal-nova-ordem [objeto]="ordemServico"></app-modal-nova-ordem>
</div>
<!-- Ordens Serviço - modal -->
<div class="modal" id="ordemServico">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 75vw;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Ordens de Serviços</h4>
                <div class="d-flex justify-content-center" *ngIf="ordemServicos.length == 0">
                    Sem Ordens de Serviço Localizadas!
                </div>
                <div class="d-flex justify-content-center">
                    <div class="form-group">
                        <label class="textoPadrao text-left" style="margin-bottom: 5px;">Cliente</label>
                        <input name="cliente" type="text" class="form-control inputCinza"
                            [(ngModel)]="this.filtro.nmCliente" (ngModelChange)="listarOrdemServico()">
                    </div>
                    <div class="form-group" *ngIf="this.isAdmin()">
                        <label class="textoPadrao text-left" style="margin-bottom: 5px;">Funcionário</label>
                        <input name="funcionario" type="text" class="form-control inputCinza"
                            [(ngModel)]="this.filtro.nmFuncionario" (ngModelChange)="listarOrdemServico()">
                    </div>
                    <div class="form-group">
                        <label class="textoPadrao text-left" style="margin-bottom: 5px;">Data de</label>
                        <input name="dataDe" type="date" class="form-control inputCinza"
                            [(ngModel)]="this.filtro.dtInicio" (ngModelChange)="listarOrdemServico()">
                    </div>
                    <div class="form-group">
                        <label class="textoPadrao text-left" style="margin-bottom: 5px;">Data até</label>
                        <input name="dataDe" type="date" class="form-control inputCinza" [(ngModel)]="this.filtro.dtFim"
                            (ngModelChange)="listarOrdemServico()">
                    </div>
                    <div>
                        <label class="textoPadrao text-left" style="margin-bottom: 5px; margin-top: 36px;">
                            <p>&nbsp;</p>
                        </label>
                        <button (click)="listarOrdemServico()" type="button" class="btn refreshColor"
                            style="color: white; margin-left: 10px;"><i class='fas fa-filter'></i></button>
                    </div>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="background-color: #C9D7D0;">
                <div class="row">
                    <table class="table-borderless table-hover colorTd" *ngIf="ordemServicos.length > 0">
                        <thead>
                            <tr class="col-lg-12">
                                <th class="text-left" style="width: 9%;">
                                    <strong>N° Ordem</strong>
                                </th>
                                <th class="text-left d flex justify-content-start" style="width: 20%;">
                                    <strong>Cliente</strong>
                                </th>
                                <th class="text-left" style="width: 22%;">
                                    <strong>Funcionário</strong>
                                </th>
                                <th class="text-right" style="width: 10%;">
                                    <strong>Valor</strong>
                                </th>
                                <th class="text-right" style="width: 19%;">
                                    <strong>Data</strong>
                                </th>
                                <th class="text-left" style="width: 5%;">
                                    <strong>Ações</strong>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div class="table-responsive  mt3" style="max-height: 380px; overflow-y: scroll;">
                        <table class="table table-borderless table-hover ">
                            <tbody>
                                <tr *ngFor="let ordemServico of ordemServicos; index as index" class="trCor col-lg-12">
                                    <td class="text-left tdRadiusLeft colorTd" style="width: 10%;">
                                        {{ ordemServico.nrOrdem }}
                                    </td>
                                    <td class="text-left colorTd" style="width: 25%;">
                                        {{ ordemServico.nmCliente }}
                                    </td>
                                    <td class="text-left colorTd" style="width: 25%;">
                                        {{ ordemServico.funcionario.nmPessoa }}
                                    </td>
                                    <td class="text-right colorTd" style="width: 10%;">
                                        {{ ordemServico.vlTotal | currency:'BRL'}}
                                    </td>
                                    <td class="text-right colorTd" style="width: 15%;">
                                        {{ ordemServico.dtCadastro | date: 'dd/MM/yyyy HH:mm'}}
                                    </td>
                                    <td class="tdRadiusRight colorTd text-end" style="width: 15%;">
                                        <button type="button" class="btn" data-bs-toggle="modal"
                                            data-bs-target="#ordemServicoEditar" (click)="openEditModal(index)">
                                            <img src="../../../assets/images/icones/editar.png"
                                                style="height: 20px; width: 20px;">
                                        </button>
                                        <button type="button" class="btn" (click)="this.delete(index)">
                                            <img src="../../../assets/images/icones/excluir.png"
                                                style="height: 20px; width: 20px;">
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Contador de página -->
                <nav aria-label="Navegação de página exemplo">
                    <ul class="pagination">
                        <li class="page-item">
                            <button class="page-link btn-sm" style="background-color: #a7afab; color: black;"
                                aria-label="Anterior" (click)="paginaAnterior()">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </button>
                        </li>
                        <li class="page-item gradiente" *ngFor="let pagina of paginas"
                            [class.active]="pagina === paginaAtual">
                            <button class="page-link btn-sm" style="background-color: #a7afab; color: black;"
                                (click)="selecionarPagina(pagina)">{{ pagina }}</button>
                        </li>
                        <li class="page-item">
                            <button class="page-link btn-sm" aria-label="Próximo"
                                style="background-color: #a7afab; color: black;" (click)="proximaPagina()">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Próximo</span>
                            </button>
                        </li>
                    </ul>
                </nav>
                <!-- Modal footer -->
                <div class="modal-footer" style="background-color: #C9D7D0;">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sair</button>
                </div>
            </div>
        </div>
    </div>
</div>