
<div *ngIf="this.ordemServico">
    <app-modal-nova-ordem [objeto]="ordemServico"></app-modal-nova-ordem>
</div>
<!-- Ordens Serviço - modal -->
<div class="modal" id="ordemServico">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 75vw;" >
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Ordens de Serviços</h4>
                <button (click)="listarOrdemServico()" type="button" class="btn refreshColor"style="color:white">⟲</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="background-color: #C9D7D0;">
                <div class="row">
                    <table class="table-borderless table-hover colorTd">
                        <thead>
                            <tr class="col-lg-12">
                                <th class="text-left" style="width: 10%;">
                                    <strong>N° Ordem</strong>
                                </th>
                                <th class="text-left" style="width: 25%;">
                                    <strong>Cliente</strong>
                                </th>
                                <th class="text-left" style="width: 25%;">
                                    <strong>Funcionário</strong>
                                </th>
                                <th class="text-right" style="width: 10%;">
                                    <strong>Valor</strong>
                                </th>
                                <th class="text-right" style="width: 15%;">
                                    <strong>Data</strong>
                                </th>
                                <th class="text-center" style="width: 15%;">
                                    <strong>Ações</strong>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div class="table-responsive d-flex justify-content-center mt3"
                        style="max-height: 380px; overflow-y: scroll;">
                        <table class="table table-borderless table-hover ">
                            <tbody>
                                <tr *ngFor="let ordemServico of ordemServicos; index as index" class="trCor col-lg-12">
                                    <td class="text-left tdRadiusLeft colorTd" style="width: 10%;">
                                        {{ ordemServico.nrOrdem }}
                                    </td>
                                    <td class="text-left colorTd" style="width: 25%;">
                                        {{ ordemServico.nmCliente }}
                                    </td>
                                    <td class="text-left colorTd" style="width: 25%;">
                                        {{ ordemServico.funcionario.nmPessoa }}
                                    </td>
                                    <td class="text-right colorTd" style="width: 10%;">
                                        {{ ordemServico.vlTotal | currency:'BRL'}}
                                    </td>
                                    <td class="text-right colorTd" style="width: 15%;">
                                        {{ ordemServico.dtCadastro | date: 'dd/MM/yyyy HH:mm'}}
                                    </td>
                                    <td class="tdRadiusRight colorTd" style="width: 15%;">
                                        <button type="button" class="btn" data-bs-toggle="modal"  data-bs-target="#ordemServicoEditar" (click)="openEditModal(index)">
                                            <img src="../../../assets/images/icones/editar.png" style="height: 20px; width: 20px;">
                                        </button>
                                        <button type="button" class="btn" (click)="this.delete(index)">
                                            <img src="../../../assets/images/icones/excluir.png" style="height: 20px; width: 20px;">
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer" style="background-color: #C9D7D0;">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn gradiente" style="color:white">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>