
<!-- Ordens Serviço  - modal -->
<div class="modal modal-xl" id="visualizarOrdem">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title textoPadrao">Ordens de Serviços</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table-borderless table-hover ">
                        <thead>
                            <tr class="trCor col-lg-12">
                                <th class="text-center col-lg-1">
                                    <strong>N° Ordem</strong>
                                </th>
                                <th class="text-center col-lg-4">
                                    <strong style="margin-right: 1vw;">Cliente</strong>
                                </th>
                                <th class="text-center col-lg-3">
                                    <strong style="margin-right: 2vw;">Funcionário</strong>
                                </th>
                                <th class="text-center col-lg-2">
                                    <strong style="margin-right: 2vw;">Qtd. Produtos</strong>
                                </th>
                                <th class="text-center col-lg-2">
                                    <strong style="margin-right: 3vw;">Data</strong>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div class="table-responsive d-flex justify-content-center mt-3"
                        style="max-height: 380px; overflow-y: scroll;">
                        <table class="table table-borderless table-hover">
                            <tbody>
                                <tr class="trCor col-lg-12">
                                    <td class="text-center tdRadiusLeft col-lg-1 colorTd">
                                        <!-- Dados da ordem de serviço -->
                                    </td>
                                    <td class="text-center col-lg-4 colorTd">
                                        <!-- Dados da ordem de serviço -->
                                    </td>
                                    <td class="text-center col-lg-3 colorTd">
                                        <!-- Dados da ordem de serviço -->
                                    </td>
                                    <td class="text-center col-lg-2 colorTd">
                                        <!-- Dados da ordem de serviço -->
                                    </td>
                                    <td class="text-center tdRadiusRight col-lg-2 colorTd">
                                        <!-- Dados da ordem de serviço -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn gradiente" style="color:white">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>