

.modal-content {
    background-color: #c9d7d0;
}

.modal-header {
    background-color: #c9d7d0;
}

.modal-body {
    background-color: #c9d7d0;
}

.modal-footer {
    background-color: #c9d7d0;
}

.trCor {
    background-color: #c9d7d0 !important;
}

.colorTd {
    color: black;
}

.colorData {
    color: black;
}

.gradiente {
    background: linear-gradient(45deg, #000000 0%, #808080 100%);
    border: none;
}