<!-- Funcionários - modal -->
<div class="modal modal-xl" id="funcionarioCadastro">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Cadastro - Funcionario</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="background-color: #C9D7D0;">
                <div class="">
                    <div class="row">
                        <div class="col-lg-6 containerMeio "
                            style="text-align:center; border-radius: 10px; width: 50%;">
                            <form>
                                <div class="row mt3">
                                    <div class="col-lg-8 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Nome do Funcionário</label>
                                        <input name="pnmPessoa" [(ngModel)]="pessoa.nmPessoa" type="text" placeholder="Somente letras..." class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">RG</label>
                                        <input name="RG" [(ngModel)]="pessoa.nrRG" type="text" placeholder="Somente números..."
                                            class="form-control inputCinza" id="">
                                    </div>
                                </div>
                                <div class="row mt3">
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">CPF</label>
                                        <input name="CPF" [(ngModel)]="pessoa.nrCPF" type="text" placeholder="Somente números..."
                                            class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-8 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">E-mail</label>
                                        <input name="email" [(ngModel)]="pessoa.dsEmail" type="text" placeholder="Ex: funcionario@gmail.com" class="form-control inputCinza"
                                            id="">
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Telefone</label>
                                        <input name="telefone" [(ngModel)]="pessoa.nrTelefone" type="text" placeholder="Ex: 45999236754" class="form-control inputCinza"
                                            id="">
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Situação</label>
                                        <select name="situacao" [(ngModel)]="pessoa.flSituacao" class="form-control inputCinza" id="">
                                            <option value="true">Ativo</option>
                                            <option value="false">Inativo</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">PIS</label>
                                        <input name="PIS" [(ngModel)]="pessoa.nrPIS" type="text" placeholder="Ex: 99999" class="form-control inputCinza"
                                            id="">
                                    </div>
                                <div class="row mt3">
                                    <div class="col-lg-6 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Data de Admissão</label>
                                        <input name="dataAdmissao" [(ngModel)]="pessoa.dtAdmissao" type="date" class="form-control inputCinza" id="">
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 containerMeio2">
                            <form>
                                <div class="row mt3">
                                    <div class="col-lg-6 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Login</label>
                                        <input name="dsLogin" [(ngModel)]="pessoa.usuario.dsLogin" type="text" placeholder=""
                                            class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Senha</label>
                                        <input name="dsLogin" [(ngModel)]="pessoa.usuario.dsSenha" type="text" placeholder="" class="form-control inputCinza" id="">
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer" style="background-color: #C9D7D0;">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#funcionario">Cancelar</button>
                                    <button (click)="addPessoa()" type="button" class="btn gradiente" style="color:white" data-bs-toggle="modal" data-bs-target="#funcionario">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>