<!-- Funcionários - modal -->
<div class="modal modal-xl" id="funcionarioCadastro">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Cadastro - Funcionario</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="background-color: #C9D7D0;">
                <div class="">
                    <div class="row">
                        <div class="col-lg-6 containerMeio "
                            style="text-align:center; border-radius: 10px; width: 50%;">
                            <form>
                                <div class="row mt3">
                                    <div class="col-lg-8 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Nome do Funcionário</label>
                                        <input type="text" placeholder="Somente letras..." class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">RG</label>
                                        <input type="text" placeholder="Somente números..."
                                            class="form-control inputCinza" id="">
                                    </div>
                                </div>
                                <div class="row mt3">
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">CPF</label>
                                        <input type="text" placeholder="Somente números..."
                                            class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-8 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">E-mail</label>
                                        <input type="text" placeholder="Ex: funcionario@gmail.com" class="form-control inputCinza"
                                            id="">
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Telefone</label>
                                        <input type="text" placeholder="Ex: 45999236754" class="form-control inputCinza"
                                            id="">
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Situação</label>
                                        <select class="form-control inputCinza" id="">
                                            <option value="sim">Ativo</option>
                                            <option value="nao">Inativo</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">PIS</label>
                                        <input type="text" placeholder="Ex: 99999" class="form-control inputCinza"
                                            id="">
                                    </div>
                                <div class="row mt3">
                                    <div class="col-lg-6 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Data de Admissão</label>
                                        <input type="date" class="form-control inputCinza" id="">
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 containerMeio2">
                            <form>
                                <div class="row mt3">
                                    <div class="col-lg-6 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Login</label>
                                        <input type="text" placeholder=""
                                            class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Senha</label>
                                        <input type="text" placeholder="" class="form-control inputCinza" id="">
                                    </div>
                                <div class="row mt3">
                                    <div class="col-lg-4 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Permissão</label>
                                        <select class="form-control inputCinza" id="">
                                            <option value="sim">Funcionario</option>
                                            <option value="nao">Inativo</option>
                                        </select>
                                    </div>
                                </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer" style="background-color: #C9D7D0;">
                                    <button type="button" class="btn btn-danger"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn gradiente" style="color:white">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>