<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <div class="col-lg-12" style="display: flex; height: 100%;">
    <div class="col-lg-6" style="background-color: #CAD7D0;">
      <div style="padding: 22%; font-weight: 100 !important; font-size: 73px;">
        <p style="color: white;">Bem Vindo ao</p>
        <p style="color: #4F8E71;">Greenployee</p>
      </div>
    </div>
    <div class="col-lg-6" style="background-color: #EFFCF5">
      <div style="padding: 30%;">
        <h1 style=" margin-left:40%;">Login</h1>
        <div class="col-lg-12" style="width: 400px; ">
          <input name="login" [(ngModel)]="usuario.dsLogin" type="text" placeholder="email" class="col-lg-12" onkeydown="if(event.keyCode===13){event.preventDefault();document.getElementById('entrarButton').click();}"
            style="background-color:#EFFCF5 ; border-top: #EFFCF5; border-left: #EFFCF5; border-right: #EFFCF5;  margin-top: 10%;" />
          <input name="senha" [(ngModel)]="usuario.dsSenha" [type]="showPassword ? 'text' : 'password'" placeholder="senha" class="col-lg-12" onkeydown="if(event.keyCode===13){event.preventDefault();document.getElementById('entrarButton').click();}"
            style="background-color:#EFFCF5 ; border-top: #EFFCF5; border-left: #EFFCF5; border-right: #EFFCF5; margin-top: 16%;" />
            <div class="col-lg-2 input-group-append d-flex justify-content-start" >
              <span (click)="togglePasswordVisibility()">
                  <i class="fa fa-eye" [class.fa-eye-slash]="!showPassword"><img src="../../../assets/images/icones/eyeIcon.png" alt="..." 
                  style="max-width:60px;
                      max-height:30px;
                      width: auto;
                      height: auto;">
                  </i>
              </span>
          </div>
          <button id="entrarButton" (click)="login()" class="btn btn-success" type="button" style="width: 200px; margin-top: 20%; margin-left: 25%;">Entrar</button>
          <p style="margin-left: 30%; color: #4F8E71;">Esqueceu sua senha?</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>