<div class="col-lg-12" style="display: flex; height: 100%;">
    <div class="col-lg-6" style="background-color: #CAD7D0;">
        <div style="padding: 22%; font-weight: 100 !important; font-size: 73px;">
            <p style="color: white;">Bem Vindo ao</p>
            <p style="color: #4F8E71;">Greenployee</p>
        </div>

        <!-- <div style="margin-left: 35%;">
            <p style="color: #4F8E71; font-size: 20px;">Nao tem uma conta?</p>
            <button
                style="background-color: #CAD7D0;color: #4F8E71; border-radius: 2px; border-color: #4F8E71; margin-left: 9%;">CRIAR
                CONTA</button>
        </div> -->

    </div>
    <div class="col-lg-6" style="background-color: #EFFCF5">
        <div style="padding: 30%;">
            <h1 style=" margin-left:40%;">Login</h1>
            <div class="col-lg-12" style="width: 400px; ">
                <input name="login" [(ngModel)]="usuario.dsLogin" type="text" placeholder="email" class="col-lg-12"
                    style="background-color:#EFFCF5 ; border-top: #EFFCF5; border-left: #EFFCF5; border-right: #EFFCF5;  margin-top: 10%;" />
                <input name="senha" [(ngModel)]="usuario.dsSenha" type="text" placeholder="senha" class="col-lg-12"
                    style="background-color:#EFFCF5 ; border-top: #EFFCF5; border-left: #EFFCF5; border-right: #EFFCF5; margin-top: 16%;" />
                <button (click)="login()" class="btn btn-success" type="button" style="width: 200px; margin-top: 20%; margin-left: 25%;"
                   >Entrar</button>
                <p style="margin-left: 30%; color: #4F8E71;">Esqueceu sua senha?</p>
            </div>
        </div>
    </div>
</div>