<!-- Metas - modal -->
<div class="modal modal-xl" id="metas">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Metas</h4>
                <button (click)="listarMetas()" *ngIf="!verificarAdmin()" type="button" class="btn refreshColor"
                    style="color:white">⟲</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="background-color: #C9D7D0;">
                <div *ngIf="!verificarUser()" class="row">
                    <div *ngIf="!verificarUser()" class="col-lg-3 form-group">
                        <label class="textoPadrao row justify-content-start" style="margin-left: 6px;">Descrição</label>
                        <textarea [(ngModel)]="meta.dsRecompensa" placeholder="Digite sua nova meta..."
                            class="texto-comeca-no-topo form-control inputCinza"></textarea>
                        <!-- <input [(ngModel)]="meta.dsRecompensa" type="text" placeholder="Descreva a meta" class="form-control inputCinza" id=""> -->
                    </div>
                    <div *ngIf="!verificarUser()" class="col-lg-1 form-group">
                        <label class="textoPadrao row justify-content-start" style="margin-left: 6px;">Valor</label>
                        <input [(ngModel)]="meta.vlMeta" type="number" placeholder="R$" class="form-control inputCinza"
                            id="">
                    </div>
                    <div *ngIf="!verificarUser()" class="col-lg-2 form-group">
                        <label class="textoPadrao row justify-content-start" style="margin-left: 6px;">Data de
                            Inicio</label>
                        <input [(ngModel)]="meta.dtInicio" type="date" placeholder="Nome do Funcionário..."
                            class="form-control inputCinza" id="">
                    </div>
                    <div *ngIf="!verificarUser()" class="col-lg-2 form-group">
                        <label class="textoPadrao row justify-content-start" style="margin-left: 6px;">Data de
                            Término</label>
                        <input type="date" placeholder="Nome do Funcionário..." class="form-control inputCinza" id="">
                    </div>
                    <div *ngIf="!verificarUser()" class="col-lg-3 form-group">
                        <label class="textoPadrao row justify-content-start"
                            style="margin-left: 6px;">Funcionário</label>
                        <select name="pessoaMeta" [(ngModel)]=" pessoaMeta.pessoa" class="form-control inputCinza"
                            id="pessoa">
                            <option *ngFor="let pessoa of pessoas" [ngValue]="pessoa">{{ pessoa.nmPessoa }}</option>
                        </select>
                    </div>
                    <div *ngIf="!verificarUser()"
                        class="col-lg-1 d-flex align-items-end justify-content-end ms-auto text-end">
                        <button (click)="addItem()" role="button" class="btn gradiente popover-test"
                            title="Popover title"
                            data-bs-content="Popover body content is set in this attribute.">+</button>
                    </div>
                    <hr *ngIf="!verificarUser()" style="margin-top: 1vh;">
                    <div class="row">
                        <div *ngFor="let item of meta.pessoasMeta; index as i clas"
                            class="gradiente col-lg-3 fitContent pessoaItem d-flex align-items-center">
                            <div>
                                {{ item.pessoa.nmPessoa }}
                                <span (click)="removeItem('-', i )" class="ml3 mousePointer">×</span>
                                <style>
                                    .mousePointer {
                                        cursor: pointer;
                                    }

                                    .mousePointer:hover {
                                        color: rgb(188, 9, 48);
                                    }
                                </style>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 1vh;">
                        <button (click)="resetItem()" *ngIf="!verificarUser()" type="button"
                            class="btn btn-danger ml3">Cancelar</button>
                        <button *ngIf="!verificarUser()" (click)="addMeta()" type="button" class="btn gradiente ml3"
                            style="color:white">Salvar</button>
                    </div>
                    <hr *ngIf="!verificarUser()">
                </div>
                <div class="table-responsive d-flex justify-content-start mt3"
                    style="max-height: 380px; overflow-y: scroll;">
                    <table class="table table-borderless table-hover">
                        <thead style="background-color: #C9D7D0;">
                            <tr class="col-lg-12" style="background-color: #C9D7D0;">
                                <th class="text-center col-lg-6" style="background-color: #C9D7D0;">
                                    <strong>Descrição da Meta</strong>
                                </th>
                                <th class="text-center col-lg-6" style="background-color: #C9D7D0;">
                                    <strong style="margin-right: 3vw;">Meta Concluída?</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let meta of metas; index as index" class="col-lg-12">
                                <td class="text-center col-lg-6 tdRadiusLeft col-lg-6 colorTd">
                                    {{ meta.dsRecompensa }}
                                </td>
                                <td class="text-center col-lg-6 tdRadiusRight colorTd">
                                    <button type="button" class="btn gradiente"
                                        style="color: white; margin-bottom: 5px;" (click)="editMeta(index)"
                                        [disabled]="this.metas[index].dtAtualizado">
                                        {{this.metas[index].dtAtualizado ? "Concluído" : "Concluir"}}
                                    </button>
                                    <button type="button" class="btn" (click)="this.delete(index)">
                                        <img src="../../../assets/images/icones/excluir.png"
                                            style="height: 20px; width: 20px;">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="background-color: #C9D7D0;">
                    <button (click)="resetItem()" type="button" class="btn btn-danger ml3"
                        data-bs-dismiss="modal">Sair</button>
                </div>

                <!-- Contador de página -->
                <nav aria-label="Navegação de página exemplo">
                    <ul class="pagination ">
                        <li class="page-item">
                            <a class="page-link gradiente" href="#" aria-label="Anterior" style="color: white;">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </li>
                        <li class="page-item gradiente"><a class="page-link gradiente" href="#"
                                style="color: white;">1</a></li>
                        <li class="page-item gradiente"><a class="page-link gradiente" href="#"
                                style="color: white;">2</a></li>
                        <li class="page-item"><a class="page-link gradiente" href="#" style="color: white;">3</a></li>
                        <li class="page-item">
                            <a class="page-link gradiente" href="#" aria-label="Próximo" style="color: white;">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>