<!-- Modal Relatorios -->
<div class="modal modal-xl" id="modalRelatorios">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #c9d7d0;">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Relatórios</h4>
            </div>
            <!-- Modal body -->
            <div style="max-width:400px; height:500px">
                <div style="display: flex; width: 200%; margin-left: 8vw;" class="col-lg-12 justify-content-center">
                    <div class="col-lg-6"><canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType"
                            [options]="pieChartOptions" [plugins]="pieChartPlugins">
                        </canvas>
                    </div>
                </div>
                <!-- Contador de página -->
                <nav aria-label="Navegação de página exemplo">
                    <ul class="pagination ">
                        <li class="page-item">
                            <a class="page-link gradiente" href="#" aria-label="Anterior" style="color: white;">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </li>
                        <li class="page-item gradiente"><a class="page-link gradiente" href="#"
                                style="color: white;">1</a></li>
                        <li class="page-item gradiente"><a class="page-link gradiente" href="#"
                                style="color: white;">2</a></li>
                        <li class="page-item"><a class="page-link gradiente" href="#" style="color: white;">3</a></li>
                        <li class="page-item">
                            <a class="page-link gradiente" href="#" aria-label="Próximo" style="color: white;">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" style="background-color: #C9D7D0;">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>