<!-- Modal Relatorios -->
<div class="modal modal-xl" id="modalRelatorios">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Cadastro - Ordem de Serviço</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="background-color: #C9D7D0;">
                <div class="">
                    <div class="row">
                        <div class="col-lg-6 containerMeio2">
                            <form>
                                <div class="row mt3">
                                    <div class="col-lg-8 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Produto</label>
                                        <input type="text" placeholder="Nome do Produto..."
                                            class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <label class="textoPadrao row justify-content-start"
                                            style="margin-left: 6px;">Valor</label>
                                        <input type="text" placeholder="R$ 0,00" class="form-control inputCinza" id="">
                                    </div>
                                    <div class="col-lg-1 d-flex align-items-end justify-content-end ms-auto text-end">
                                        <a role="button" class="btn gradiente popover-test" title="Popover title"
                                            data-bs-content="Popover body content is set in this attribute.">+</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive d-flex justify-content-center mt3"
                                        style="max-height: 230px; overflow-y: scroll;">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="align-middle text-left">

                                                    </td>
                                                    <td class="d-flex justify-content-center">
                                                        <div class="btn-group"
                                                            style="display: inline-block; justify-content: center;">
                                                            <a role="button" class="btn inputCinza popover-test"
                                                                title="Popover title"
                                                                data-bs-content="Popover body content is set in this attribute.">+</a>
                                                            <span class="badge badge-secondary">

                                                            </span>
                                                            <a role="button" class="btn inputCinza popover-test"
                                                                title="Popover title"
                                                                data-bs-content="Popover body content is set in this attribute.">-</a>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle text-left">

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" style="background-color: #C9D7D0;">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn gradiente" style="color:white">Salvar</button>
            </div>
        </div>
    </div>
</div>