<!-- Modal Relatorios -->
<div class="modal modal-xl" id="modalRelatorios">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #c9d7d0;">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #C9D7D0;">
                <h4 class="modal-title textoPadrao">Relatórios</h4>
            </div>
            <!-- Modal body -->
            <div style="max-width:400px; height:500px">
                <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
                    [plugins]="pieChartPlugins">
                </canvas>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer" style="background-color: #C9D7D0;">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>